Repository TxJson/Art-Recognition, changes with the labels that .github/labeler.yml gives for each.
All labels: application, @dart, @python, docs, network, @gitflow

remove concurrency in release flow
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update release workflow constraints
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

update env variables for release
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update action
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

add content type to flutter release flow
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update paths
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update build paths
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update from aap to aab on appbundle
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Update aap to aab
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Updated model and cleanup
  app/src/lib/classification/classifier.dart
  app/src/lib/classification/tensor_processor.dart
  network/src/settings/modules.json
Labels: application, @dart, network

Update detection parameter
  app/src/lib/classification/tensor_processor.dart
Labels: application, @dart

Cleanup tensor processor and add clarification comments
  app/src/lib/classification/tensor_processor.dart
Labels: application, @dart

cleanup and add comments
  app/src/lib/classification/classifier.dart
  app/src/lib/screens/home/camera/camera.dart
  app/src/lib/screens/home/camera/cameraInfo.dart
  app/src/lib/screens/home/main.dart
Labels: application, @dart

Fix github workflow
  .github/workflows/flutter_build.yml
Labels: @gitflow

Fix workflow errors
  .github/workflows/flutter_build.yml
Labels: @gitflow

disable concurrency check temporarily - does not work on main
  .github/workflows/flutter_build.yml
Labels: @gitflow

Run flutter build workflow if the workflow file has changed
  .github/workflows/flutter_build.yml
Labels: @gitflow

Update release tag name
  .github/workflows/build_flutter_release.yml
Labels: @gitflow

Restructure python directory
  Makefile
  app/src/pubspec.lock
  python/Makefile
  python/ml/Makefile
  python/ml/README.md
  python/ml/local_dep.txt
  python/ml/setup.sh
  python/ml/src/README.md
  python/ml/src/detect.tflite
  python/ml/src/exports.py
  python/ml/src/lib/__init__.py
  python/ml/src/lib/files.py
  python/ml/src/run.py
  python/ml/src/settings/datasets.json
  python/ml/src/settings/modules.json
  python/ml/src/settings/settings.json
  python/ml/src/setup.py
  python/ml/src/train.py
  python/ml/src/yolov5n_saved_model/fingerprint.pb
  python/ml/src/yolov5n_saved_model/variables/variables.data-00000-of-00001
  python/ml/src/yolov5n_saved_model/variables/variables.index
  python/setup.sh
  python/tests/.gitkeep
Labels: application, @python, docs

wip restructuring with venv
  Makefile
  python/.gitignore
  python/Makefile
  python/ml/requirements.txt
  python/ml/setup.sh
  python/requirements.txt
  python/setup.sh
  python/src/graphql/__init__.py
  python/src/graphql/test/test_implementation.py
  python/src/tests/__init__.py
  python/src/tests/tests_base.py
Labels: @python

add python poetry
  pyproject.toml
Labels: none

Update dependency handling to use poetry
  poetry.lock
  pyproject.toml
  python/ml/local_dep.txt
  python/setup.sh
Labels: none

.github/labeler.yml:

application:
  - app/**/*

'@dart':
    - '**/*.dart'


'@python':
  - '**/*.py'

docs:
  - '**/*.md'
  - '**/*.docs'

network:
  - network/**/*

'@gitflow':
  - .github/**/*
  - .gitignore
